/* Project.js */
.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5%;
}

.header-container {
  height: 100%;
  width: 25%;
  margin: 0 auto;
  padding-bottom: 6%;
}

.project-header {
  margin-bottom: 2%;
  font-size: 4vw;
  font-family: "Special Elite", cursive;
  color: #6b5a5f;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #f4acbf;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  letter-spacing: 0.05em;
  /* Adjust as needed */
  -webkit-animation: typing 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #f4acbf;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #f4acbf;
  }
}

.headerAccent {
  color: #ce8fa0;
}

.cardContainer {
  background-color: #fff7f9;
  width: 60%;
  text-align: center;
  padding: 3% 2%;
  margin: 3% 0;
  -webkit-box-shadow: 14px 6px 32px -4px rgba(158, 155, 158, 0.56);
  box-shadow: 14px 6px 32px -4px rgba(158, 155, 158, 0.56);
  opacity: 0.6;
}

.cardContainer:hover {
  opacity: 1;
}

.projectImage {
  width: 95%;
  margin: 3% 0;
  cursor: pointer;
}

.title {
  font-size: 55px;
}

.loveLeslie {
  font-family: "Mansalva", cursive;
  color: #cd5c5c;
  opacity: 0.7;
}

.firefly {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #4aa810;
}

.replate {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  color: #d6b45e;
}

.techContainer {
  font-family: "Open Sans", sans-serif;
  margin-top: 4%;
}

.techTitle {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  color: #5a494e;
  font-weight: bold;
}

.description {
  font-family: "Open Sans", sans-serif;
  margin: 3% 0;
}

.buttons {
  margin: 0 auto;
  margin-top: 5%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.button {
  font-size: 18px;
  border: none;
  background-color: #ebebf0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 1;
  padding: 0;
}

.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 10, 50, 0.2);
  opacity: 0.4;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9),
    -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

.button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ebebf0;
  z-index: -1;
}

.button:hover:before,
.button:focus:before {
  -webkit-transform: translate3D(10px, 0, 0);
  transform: translate3D(10px, 0, 0);
}

.button:active:before {
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

.button:focus,
.button:active {
  outline: none;
}

.button .button__inner {
  text-transform: uppercase;
  color: #333;
  padding: 3% 4%;
  background-color: #fbfbfb;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9),
    -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  position: relative;
}

.button:hover .button__inner,
.button:focus .button__inner {
  -webkit-transform: translate3D(0, -10px, 0);
  transform: translate3D(0, -10px, 0);
}

.button:active .button__inner {
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

.button:hover .button__inner,
.button:focus .button__inner {
  background-color: #fff;
}

.button--secondary {
  background-color: #ebc3d3;
  z-index: 0;
}

.button--secondary:after {
  background-color: #ebc3d3;
}

.button--secondary .button__inner {
  background-color: #fad9e6;
}

.button--secondary:hover .button__inner,
.button--secondary:focus .button__inner {
  background-color: #fad9e6;
}

.portfolio-info-container {
  margin-top: 4%;
}

.portfolio-info-text {
  color: #816b71;
  font-size: 1.3em;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 1384px) {
  .header-container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 6%;
    text-align: center;
  }
  .project-header {
    padding-bottom: 2%;
    font-size: 55px;
    border-right: none;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    letter-spacing: 0.05em;
    /* Adjust as needed */
    -webkit-animation: none;
    animation: none;
  }
  .cardContainer {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .cardContainer {
    width: 90%;
  }
  .button {
    font-size: 14px;
  }
  .cardContainer {
    opacity: 1;
  }
}

@media screen and (max-width: 427px) {
  .portfolio-info-text {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 370px) {
  .portfolio-info-text {
    font-size: 0.9em;
  }
}
/*# sourceMappingURL=Projects.css.map */
