/* Project.js */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.whyyyy {
  width: 20%;
  margin: 0 auto;
  border: green solid 2 px;
}

.header {
  margin-bottom: 2%;
  font-size: 8vw;
  font-family: "Open Sans", sans-serif;
  color: #6b5a5f;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #f4acbf; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.05em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #f4acbf;
  }
}

.headerAccent {
  color: #ce8fa0;
}

/* ProjectCard2.js */
.cardContainer {
  background-color: #fcf7f8;
  width: 60%;
  text-align: center;
  padding: 3% 2%;
  margin: 1% 0;
  -webkit-box-shadow: 14px 6px 32px -4px rgba(158, 155, 158, 0.56);
  -moz-box-shadow: 14px 6px 32px -4px rgba(158, 155, 158, 0.56);
  box-shadow: 14px 6px 32px -4px rgba(158, 155, 158, 0.56);
}

.projectImg {
  border: lightgray solid 1px;
  height: 400px;
}

.title {
  font-size: 55px;
  margin-top: 3%;
  margin-bottom: 1.5%;
}
.loveLeslie {
  font-family: "Mansalva", cursive;
  color: #cd5c5c;
  opacity: 0.7;
}
.firefly {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #4aa810;
}
.replate {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  color: #d6b45e;
}
.techContainer {
  font-family: "Open Sans", sans-serif;
  margin-top: 4%;
}
.techTitle {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  color: #5a494e;
  font-weight: bold;
}
.description {
  font-family: "Open Sans", sans-serif;
}
.buttons {
  margin: 0 auto;
  margin-top: 4%;
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.button {
  font-size: 18px;
  border: none;
  background-color: rgb(235, 235, 240);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  user-select: none;
  position: relative;
  z-index: 1;
  padding: 0;

  //shadow
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 10, 50, 0.2);
    opacity: 0.4;
    transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
    transform: translate3D(0, 0, 0);
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 240);
    z-index: -1;
  }
  &:hover,
  &:focus {
    &:before {
      transform: translate3D(10px, 0, 0);
    }
  }
  &:active {
    &:before {
      transform: translate3D(0, 0, 0);
    }
  }
  // End Shadow
  &:focus,
  &:active {
    outline: none;
  }

  //The button-part with the text
  .button__inner {
    text-transform: uppercase;
    color: #333;
    padding: 3% 4%;
    background-color: #fbfbfb;
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
    position: relative;
  }
  &:hover,
  &:focus {
    .button__inner {
      transform: translate3D(0, -10px, 0);
    }
  }
  &:active .button__inner {
    transform: translate3D(0, 0, 0);
  }
  &:hover,
  &:focus {
    .button__inner {
      background-color: #fff;
    }
  }
}

//Secondary style
.button--secondary {
  background-color: #ebc3d3;
  z-index: 0;
  &:after {
    background-color: #ebc3d3;
  }
  .button__inner {
    background-color: #fad9e6;
  }
  &:hover,
  &:focus {
    .button__inner {
      background-color: #fad9e6;
    }
  }
}
