/* Project.js */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.header {
  margin-bottom: 2%;
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  color: #6b5a5f;
}

.headerAccent {
  color: #ce8fa0;
}

/* ProjectCard2.js */
.cardContainer {
  background-color: #fcf7f8;
  width: 60%;
  text-align: center;
  padding: 1%;
  margin: 1% 0;
  -webkit-box-shadow: 14px 6px 32px -4px rgba(158, 155, 158, 0.56);
  -moz-box-shadow: 14px 6px 32px -4px rgba(158, 155, 158, 0.56);
  box-shadow: 14px 6px 32px -4px rgba(158, 155, 158, 0.56);
}

.projectImg {
  border: lightgray solid 1px;
  height: 400px;
}

.title {
  font-size: 55px;
  margin-top: 3%;
  margin-bottom: 1.5%;
}
.loveLeslie {
  font-family: "Mansalva", cursive;
  color: #cd5c5c;
  opacity: 0.7;
}
.firefly {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #4aa810;
}
.replate {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  color: #d6b45e;
}
.techContainer {
  font-family: "Open Sans", sans-serif;
}
.techTitle {
  /* font-weight: bold; */
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}
.description {
  font-family: "Open Sans", sans-serif;
}
/* .replate-projects-card {
  height: 400px;
  width: 100%;
  background-image: url("./ProjectImages/replate.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
.replate-projects-card:hover {
  -webkit-filter: grayscale(50%) blur(4px);
  filter: grayscale(50%) blur(4px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.description {
  display: flex;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
}

.card-container:hover .description {
  opacity: 1;
}

.projects-text:hover ~ .replate-projects-card {
  -webkit-filter: grayscale(50%) blur(5px);
  filter: grayscale(50%) blur(5px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.6s ease-in-out;
}

.projects-title {
  margin: auto 0;
  font-size: 60px;
}
.projects-text {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  top: 250px;
  width: 50%;
}

.description-img {
  position: absolute;
  right: 110px;
  bottom: 70px;
  transform: rotate(8deg);
}

/* PROJECT CARD PROPS  */
/* .replateTitle {
  color: green;
}
.replateDescription {
  color: pink;
}
.fireflyTitle {
  color: #3e8c0d;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
}
.fireflyDescription {
  color: #dfc106;
  text-shadow: 2px 2px 2px white;
} */
