.home-container {
  text-align: center;
  color: #6b5a5f;
  font-family: "Open Sans", sans-serif;
}

.memoji {
  margin-bottom: 6%;
}

.greeting-container {
  width: 80%;
  margin: 0 auto;
}
.greeting {
  /* font-family: "Quicksand", sans-serif; */
  font-size: 4vw;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #f4acbf; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.05em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #f4acbf;
  }
}

.homeText {
  margin: 9% 0;
}

.about {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 40px;
}
.sections {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5% 0;
}
h2 {
  font-weight: bolder;
}
.break {
  height: 30px;
}
.one {
  background-color: #ffcadf;
}
.two {
  background-color: #f4acbf;
}
.three {
  background-color: #9d8189;
}
.four {
  background-color: #ffcadf;
}

.home-hr {
  width: 100%;
  background-color: #ffcadf;
}

@media screen and (max-width: 420px) {
  .about {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .greeting-container {
    width: 100%;
    margin: 0 auto;
  }
  .greeting {
    font-size: 8.5vw;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    letter-spacing: 0.05em; /* Adjust as needed */
  }
  .homeText {
    margin-top: 40px;
  }
  .sections {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5% 0;
    margin-bottom: 50px;
  }
  .sections-text {
    width: 80%;
    margin: 0 auto;
  }
  h2 {
    font-size: 12px;
  }
}
