.home-container {
  text-align: center;
  color: #6b5a5f;
  font-family: "Open Sans", sans-serif;
}
.greeting {
  font-family: "Quicksand", sans-serif;
  margin: 4% 0;
  font-size: 60px;
  /* font-weight: bold; */
}

.homeText {
  margin: 5% 0;
}

.about {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 40px;
}
.sections {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.one {
  background-color: #ffcadf;
}
.two {
  background-color: #f4acbf;
}
.three {
  background-color: #9d8189;
}
.four {
  background-color: #ffcadf;
}

.home-hr {
  width: 100%;
  background-color: #ffcadf;
}
