.contact {
  margin: 0 auto;
  width: 60%;
  font-size: 16px;
  margin-bottom: 200px;
  color: #6b5a5f;
  font-family: "Open Sans", sans-serif;
  margin-top: 5%;
}

.head {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 35px;
}
.contact-header-container {
  height: 100%;
  width: 45%;
  margin: 0 auto;
  padding-bottom: 6%;
}
.contact-header {
  margin: 0 auto;
  margin-bottom: 2%;
  font-size: 50px;
  font-family: "Special Elite", cursive;
  color: #6b5a5f;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #f4acbf; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.05em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #f4acbf;
  }
}

.headerAccent {
  color: #ce8fa0;
}

.image {
  margin-bottom: 50px;
}

/* ICONS */

.contactIcon {
  color: #97727d;
  padding: 0 2%;
  font-size: 30px;
  opacity: 0.3;
}
.contactIcon:hover {
  opacity: 1;
  color: #c494a3;
}

.linkedin {
  margin-right: 7%;
  font-size: 40px;
}

.github {
  font-size: 40px;
}

.link {
  position: relative;
  text-decoration: none;
  color: #f78eaa;
  cursor: pointer;
}

.link:hover {
  color: rgba(213, 11, 84, 0.9);
  text-decoration: none;
}

.link:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  bottom: -3px;
  background-color: rgba(213, 11, 84, 0.9);
  visibility: hidden;

  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
@media screen and (max-width: 600px) {
  .contact {
    width: 90%;
  }
}
@media screen and (max-width: 1300px) {
  .contact-header-container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 6%;
    text-align: center;
  }

  .contact-header {
    padding-bottom: 2%;
    font-size: 45px;
    border-right: none; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: 0.05em; /* Adjust as needed */
    animation: none;
  }
}
