.contact {
  margin: 0 auto;
  width: 500px;
  font-size: 16px;
  margin-bottom: 200px;
}

.head {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 35px;
  /* border: solid yellow 2px; */
}

.image {
  margin-bottom: 50px;
}

.email {
  text-decoration: none;
  color: green;
}
.form-container {
  /* text-align: center; */
}
.input {
  width: 100%;
}
.form-text {
  margin-bottom: -1px;
}

.linkedin {
  margin-right: 7%;
  font-size: 40px;
}

.github {
  font-size: 40px;
}

.link {
  position: relative;
  text-decoration: none;
  color: lightslategray;
  cursor: pointer;
}

.link:hover {
  color: rgba(213, 11, 84, 0.9);
  text-decoration: none;
}

.link:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  bottom: -3px;
  background-color: rgba(213, 11, 84, 0.9);
  visibility: hidden;

  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
