.footer {
  margin-top: 5%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 2%;
}
.icon {
  color: #97727d;
  padding: 0 2%;
  font-size: 30px;
  opacity: 0.3;
}
.icon:hover {
  opacity: 1;
  color: #97727d;
}
.copy {
  margin-top: 10px;
  color: #5a494e;
  opacity: 0.3;
}
.copy:hover {
  opacity: 1;
}
