// mixin
@mixin hover-underline($type: fade, $dir: null, $weight: 2px, $color: #000) {
  @if $dir == null {
    @if $type == fade {
      $dir: "top";
    } @else if $type == slide {
      $dir: "center";
    }
  }

  position: relative;
  display: inline-block;
  text-decoration: none;
  &::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: $weight;
    background: $color;
    @if $type == fade {
      transition: 0.3s;
      opacity: 0;
      visibility: hidden;
      @if $dir == bottom {
        bottom: $weight * -4;
      } @else {
        bottom: $weight;
      }
    } @else if $type == slide {
      bottom: $weight * -2;
      transform: scale(0, 1);
      transition: transform 0.3s;
      @if $dir == left-right or $dir == right-in-left {
        transform-origin: left top;
      } @else if $dir == right-left or $dir == left-in-right {
        transform-origin: right top;
      } @else {
        transform-origin: center top;
      }
    }
  }
  &:hover::after {
    @if $type == fade {
      bottom: $weight * -2;
      opacity: 1;
      visibility: visible;
    } @else if $type == slide {
      @if $dir == left-in-right {
        transform-origin: left top;
      } @else if $dir == right-in-left {
        transform-origin: right top;
      }
      transform: scale(1, 1);
    }
  }
}

.nav-container {
  padding: 0 10%;
  padding-top: 1%;
  padding-bottom: 0.5%;
  display: flex;
  justify-content: flex-end;
  background-color: #fcf7f8;
  position: fixed;
  top: 0;
  width: 100%;
}

.name {
  font-size: 30px;
  font-weight: 400;
  margin-top: 3px;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  font-family: "Raleway", sans-serif;
  width: 300px;
  font-weight: bolder;
  color: #6b5a5f;
  /* margin-bottom: 200px; */
}

.l:hover {
  color: #f4acbf;
}

.nav-bar {
  width: 60%;
  list-style: none;
  text-align: right;
  li {
    display: inline-block;
    margin: 0 2%;
    a {
      color: #333;
      font-weight: 400;
      @include hover-underline("fade", "top");
    }
  }
}

.nav-bar li a {
  color: #816b71;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.nav-bar li a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #ffcadf;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  bottom: 2px;
}

.nav-bar li a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

//////////MEDIA QUERIES///////
@media screen and (max-width: 1005px) {
  .nav-bar li a {
    font-size: 16px;
  }
  .nav-bar li {
    margin: 0 0.5%;
  }
}

@media screen and (max-width: 860px) {
  .nav-bar li a {
    font-size: 16px;
  }
  .nav-bar li {
    margin: 0 0%;
  }
}

@media screen and (max-width: 838px) {
  .nav-container {
    padding: 0;
    padding-top: 3%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    flex-direction: column;
  }
  .name {
    font-size: 25px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .nav-bar {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      margin: 0;
      a {
        font-size: 14px;
      }
    }
  }
}
